<ion-view view-title="About">
  <ion-content>
    <div class="row">
      <img src="img/logo.png" alt="BestApps logo" class="about-img"/>
    </div>
        <div class="card no-margin-top">
          <div class="item item-icon-left ">
            <i class="icon ion-ios-information-outline"></i>
            <h3 class="h3-about">Created by: <span>Dionis Dinishev</span>, <span>Kristina Mojanovska</span> and <span>Blagoj Dimovski</span> in 2016.</h3>
          </div>
        </div>    
        <div class="card">
          <div class="item item-icon-left ">
            <i class="icon ion-ionic"></i>
            <h3 class="h3-about">Technology used: <span>Ionic Framework 1.3.1</span></h3>
          </div>
        </div>    
  </ion-content>
</ion-view>
