<ion-view view-title="Best Apps">
  <ion-content class="has-header" ng-controller="myCtrl" style="background-color: white">


  <!--  <div class="list list-inset" style="margin-top:2%">
      <label class="item item-input ">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
       </label>
    </div>
    -->

    <!-- pocnuva tuka -->
    <div class="custom-row" style="height: 270px; margin-top:0%;background-color: #f9f9f9;">
      <div class="row">
        <div class="col col-75">
          <h4>Top rated</h4>
        </div>
        <div class="col col-25" style="text-align:right;">
          <h5><a href="#/app/top-rated">More</a></h5>
        </div>
      </div>
      <ion-scroll scrollbar-y="false" direction="x" class="custom-row" style="height:235px;overflow-y: hidden;  margin-top:-8%;white-space: nowrap">
        <div class="padding-left inline " style="width: 140px;height: 230px;vertical-align: middle;" ng-repeat="task in apps | orderBy:'-rating' | limitTo: 15">
          <a href="#/app/apps/{{task.id}}">
            <div class="card" style="width: 90%;height: 80%; float: left">
              <div class="item" style="position: relative;height: 100%;">
                <div style="position: absolute;top: 10px;left: 0px;">
                  <div class="item-image img-rounded img-center">
                    <img src="{{task.avatar}}" style="max-width: 50%">
                  </div>
                  <div class="text-center">
                    <h3 style="white-space: normal">{{task.title}}</h3>
                  </div>
                </div>

                <div style="position: absolute;top: 50%;left: 0px; padding-left: 5%; ">
                  <div class="row">
                    <hr class="rainbow" style="width:70%; color: gray; height:1px;" />
                  </div>
                  <i class="ion-android-download">Download</i>
                  <br>
                  <i class="ion-star">Add to favorite</i>
                </div>
              </div>
            </div>
        </a>
    </div>
    </ion-scroll>
    <!-- zavruva tuka -->

    <!-- pocnuva tuka -->
       <div class="custom-row" style="height: 270px; margin-top:3%;background-color: #f9f9f9;">
      <div class="row">
        <div class="col col-75">
          <h4>Top downloaded</h4>
        </div>
        <div class="col col-25" style="text-align:right;">
          <h5><a href="#/app/top-rated">More</a></h5>
        </div>
      </div>
      <ion-scroll scrollbar-y="false" direction="x" class="custom-row" style="height:235px;overflow-y: hidden;  margin-top:-8%;white-space: nowrap">
        <div class="padding-left inline " style="width: 140px;height: 230px;vertical-align: middle;" ng-repeat="task in apps | orderBy:'-downloads' | limitTo: 15">
          <a href="#/app/apps/{{task.id}}">
            <div class="card" style="width: 90%;height: 80%; float: left">
              <div class="item" style="position: relative;height: 100%;">
                <div style="position: absolute;top: 10px;left: 0px;">
                  <div class="item-image img-rounded img-center">
                    <img src="{{task.avatar}}" style="max-width: 50%">
                  </div>
                  <div class="text-center">
                    <h3 style="white-space: normal">{{task.title}}</h3>
                  </div>
                </div>

                <div style="position: absolute;top: 50%;left: 0px; padding-left: 5%; ">
                  <div class="row">
                    <hr class="rainbow" style="width:70%; color: gray; height:1px;" />
                  </div>
                  <i class="ion-android-download">Download</i>
                  <br>
                  <i class="ion-star">Add to favorite</i>
                </div>
              </div>
            </div>
        </a>
    </div>
    </ion-scroll>
    <!-- zavruva tuka -->

    <!-- pocnuva tuka -->
    <div class="custom-row" style="height: 270px; margin-top:3%;background-color: #f9f9f9;">
      <div class="row">
        <div class="col col-75">
          <h4>Games</h4>
        </div>
        <div class="col col-25" style="text-align:right;">
          <h5><a href="#/app/top-rated">More</a></h5>
        </div>
      </div>
      <ion-scroll scrollbar-y="false" direction="x" class="custom-row" style="height:235px;overflow-y: hidden;  margin-top:-8%;white-space: nowrap">
        <div class="padding-left inline " style="width: 140px;height: 230px;vertical-align: middle;" ng-repeat="task in apps | filter:{ subCategory: 'Games' } | limitTo: 15">
          <a href="#/app/apps/{{task.id}}">
            <div class="card" style="width: 90%;height: 80%; float: left">
              <div class="item" style="position: relative;height: 100%;">
                <div style="position: absolute;top: 10px;left: 0px;">
                  <div class="item-image img-rounded img-center">
                    <img src="{{task.avatar}}" style="max-width: 50%">
                  </div>
                  <div class="text-center">
                    <h3 style="white-space: normal">{{task.title}}</h3>
                  </div>
                </div>

                <div style="position: absolute;top: 50%;left: 0px; padding-left: 5%; ">
                  <div class="row">
                    <hr class="rainbow" style="width:70%;  height:1px;" />
                  </div>
                  <i class="ion-android-download">Download</i>
                  <br>
                  <i class="ion-star">Add to favorite</i>
                </div>
              </div>
            </div>
        </a>
    </div>
    </ion-scroll>
    <!-- zavruva tuka -->




  </ion-content>
</ion-view>