<ion-view view-title="Best Apps">
  <ion-content class="has-header" ng-controller="myCtrl" style="background-color: white" delegate-handle="homeHandle">
    <div class="welcome-header">
      <img src="img/welcome-to.png" alt="">
      <p>BestApps provides expert ratings and important information about mobile apps.</p>
      <button class="button button-balanced icon ion-compass" ng-click="scrollTo('topRated')"> Explore</button>
    </div>
    <div class="scrollbar-container">
      <div class="row">
        <div class="col col-75">
          <h4 id="topRated"> Top rated</h4>
        </div>
        <div class="col col-25 home-app-more">
          <h5><a href="#/app/top-rated">More</a></h5>
        </div>
      </div>
      <ion-scroll direction="x" class="home-scrollbar">
        <div class="padding-left inline apps-home-container" ng-repeat="app in apps | orderBy:'-rating' | limitTo: 4">
          <a href="#/app/apps/{{app.id}}">
            <div class="card home-card">
              <div class="item home-item">
                <div class="home-item-div">
                  <div class="item-image img-rounded img-center">
                    <img src="{{app.avatar}}" class="home-app-avatar">
                  </div>
                  <div class="text-center">
                    <h3 class="home-app-title">{{app.title}}</h3>
                  </div>
                </div>

                <div class="home-app-p-div">
                 <p class="text-center"><span class="home-app-rating">{{app.stars}}</span></p>
                <button class="button button-small button-block button-energized icon ion-eye">
                       Preview
                </button>
                </div>
              </div>
            </div>
        </a>
    </div>
    </ion-scroll>
    </div>
  <div class="scrollbar-container">
      <div class="row">
        <div class="col col-75">
          <h4> Top downloaded</h4>
        </div>
        <div class="col col-25 home-app-more">
          <h5><a href="#/app/top-rated">More</a></h5>
        </div>
      </div>
      <ion-scroll scrollbar-y="false" direction="x" class="home-scrollbar">
        <div class="padding-left inline apps-home-container" ng-repeat="app in apps | orderBy:'-downloads' | limitTo: 4">
          <a href="#/app/apps/{{app.id}}">
            <div class="card home-card">
              <div class="item home-item">
                <div class="home-item-div">
                  <div class="item-image img-rounded img-center">
                    <img src="{{app.avatar}}" class="home-app-avatar">
                  </div>
                  <div class="text-center">
                    <h3 class="home-app-title">{{app.title}}</h3>
                  </div>
                </div>

                <div class="home-app-p-div">
                 <p class="text-center"><span class="home-app-rating">{{app.stars}}</span></p>
                <button class="button button-small button-block button-energized icon ion-eye">
                       Preview
                </button>
                </div>
              </div>
            </div>
        </a>
    </div>
    </ion-scroll>
    </div>
 <div class="scrollbar-container">
      <div class="row">
        <div class="col col-75">
          <h4> Best games</h4>
        </div>
        <div class="col col-25 home-app-more">
          <h5><a href="#/app/all-games">More</a></h5>
        </div>
      </div>
      <ion-scroll scrollbar-y="false" direction="x" class="home-scrollbar">
        <div class="padding-left inline apps-home-container" ng-repeat="app in apps | orderBy:'-rating' | filter: {subCategory: 'Games'} | limitTo: 4">
          <a href="#/app/apps/{{app.id}}">
            <div class="card home-card">
              <div class="item home-item">
                <div class="home-item-div">
                  <div class="item-image img-rounded img-center">
                    <img src="{{app.avatar}}" class="home-app-avatar">
                  </div>
                  <div class="text-center">
                    <h3 class="home-app-title">{{app.title}}</h3>
                  </div>
                </div>

                <div class="home-app-p-div">
                 <p class="text-center"><span class="home-app-rating">{{app.stars}}</span></p>
                <button class="button button-small button-block button-energized icon ion-eye">
                       Preview
                </button>
                </div>
              </div>
            </div>
        </a>
    </div>
    </ion-scroll>
    </div>
  </ion-content>
</ion-view>