<ion-view view-title="Apps"> 
  
   <ion-content ng-controller="myCtrl">
<div class="bar bar-header item-input-inset bar-dark" >
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="query">
  </label>
  <a class="clear" ng-click="query = ''">
  <button class="button button-clear">
    Cancel
  </button>
  </a>
</div>

    <div class="list">


   <label class="item item-input item-select">
    <div class="input-label">
      Apps category
    </div>
   <select ng-model="subCat" ng-init="subCat='All'">
     <option value="All" ng-selected="true">All</option>
      <option value="Books & Reference">Books & Reference</option>
      <option value="Business">Business</option>
      <option value="Cinema">Cinema</option>
      <option value="Comics">Comics</option>
      <option value="Education">Education</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Health & Fitness">Health & Fitness</option>
      <option value="Libraries & Demo">Libraries & Demo</option>
      <option value="Lifestyle">Lifestyle</option>
      <option value="Media & Video">Media & Video</option>
      <option value="Medical">Medical</option>
      <option value="Music & Audio">Music & Audio</option>
      <option value="News & Magazines">News & Magazines</option>
      <option value="Personalization">Personalization</option>
      <option value="Photography">Photography</option>
      <option value="Productivity">Productivity</option>
      <option value="Ringtones">Ringtones</option>
      <option value="Shopping">Shopping</option>
      <option value="Social">Social</option>
      <option value="Soundboards">Soundboards</option>
      <option value="Sports">Sports</option>
      <option value="Themes">Themes</option>
      <option value="Tools">Tools</option>
      <option value="Transportation">Transportation</option>
      <option value="Travel & Local">Travel & Local</option>
      <option value="Wallpapers">Wallpapers</option>
      <option value="Weather">Weather</option>
    </select>
  </label>
      

      <script>var name={{title}}</script>
      <span ng-repeat="app in apps | filter:query | filter:{ mainCategory: 'Apps' }" ng-if="checkSubCategory(subCat, app.subCategory)">
    <a class="item item-avatar item-icon-right" href="#/app/apps/{{app.id}}">
   
      <img src= "{{app.avatar}}">
      <h2><b>{{app.title}}</b>
      <i class="icon ion-chevron-right icon-accessory"></i></h2>
      <p>Category:  <b>{{app.subCategory}}</b></p>
      <p>Downloads:   <b>{{app.downloads}}k</b></p>
      <p>Rating:    <b>   <span class="rating-stars">{{app.stars}}<span></b></p>
      
     
    </a>
</span>
    </div>
  </ion-content>
</ion-view>
