<ion-view ng-controller="singleAppCtl">
  <ion-content>
    <h5 class="text-center">{{app.title}}</h5>
   <div class="row single-app-header">
     <div class="col col-33"><img src="{{app.avatar}}" alt="" class="single-app-img"></div>
        <div class="col single-app-properties">    
        <p><span class='app-properties-m'>Downloads:</span> <span class='app-properties'>{{app.downloads}}k</span></p>
        <p><span class='app-properties-m'>User Ratings:</span>  <span class='app-properties'>{{app.rating}}</span></p>
        <p><span class='app-properties-m'>BestApps Ratings:</span>  <span class='app-properties'>{{overallRating(app.bestAppsInfo.usabilityRating, app.bestAppsInfo.uxRating)}}</span></p>
        <p><span class='app-properties-m'>Category:</span> <span class='app-properties'> {{app.mainCategory}}</span></p>
        <p><span class='app-properties-m'>Sub-category:</span> <span class='app-properties'> {{app.subCategory}}</span></p>
        </div>
   </div>
   <div class="single-app-body">
     <div class="app-section">
     <p class='single-app-subtitle us-red'>Usability - <span class="app-rating" ng-class="addColor(app.bestAppsInfo.usabilityRating)">{{app.bestAppsInfo.usabilityRating}}</span></p>
     <p> {{app.bestAppsInfo.usabilityDesc}}</p>       
     </div>

  <div class="app-section">
     <p class='single-app-subtitle ds-red'>User Experience - <span class="app-rating" ng-class="addColor(app.bestAppsInfo.uxRating)">{{app.bestAppsInfo.uxRating}}</span></p>
     <p> {{app.bestAppsInfo.uxDesc}} </p>       
     </div>
       <div class="app-section">
     <p class='single-app-subtitle et-blue'>Overall rating - <span class="app-rating" ng-class="addColor(overallRating(app.bestAppsInfo.usabilityRating, app.bestAppsInfo.uxRating))">{{overallRating(app.bestAppsInfo.usabilityRating, app.bestAppsInfo.uxRating)}}</span></p>
     <p> {{app.bestAppsInfo.overallDesc}} </p>       
     </div>

   </div>

<script id="my-modal.html" type ="text/ng-template">
   <ion-modal-view>
      <ion-header-bar class="bar-positive">
         <button ng-click="closeModal()" class="button-header-custom"><i class="icon ion-close"></i></button>
         <h1 class = "title"> {{app.title}} info</h1>
      </ion-header-bar>
		
      <ion-content>
              <div class="card">
                  <div class="item item-divider item-icon-left card-header-custom">
                   <i class="icon ion-ios-information-outline"></i> App information
                  </div>
                  <div class="item item-text-wrap">
                    <p class="more-info-properties-h">Released by: <span class="more-info-properties">{{app.appMetaData.releasedBy}}</span></p>
                    <p class="more-info-properties-h">Requires: <span class="more-info-properties">{{app.appMetaData.requires}}</span></p>
                    <p class="more-info-properties-h">Latest update: <span class="more-info-properties">{{app.appMetaData.lastUpdate}}</span></p>
                  </div>
              </div>

              <div class="card">
                  <div class="item item-divider item-icon-left card-header-custom">
                   <i class="icon ion-ios-paper-outline"></i> App description
                  </div>
                  <div class="item item-text-wrap">
                    <p class="more-info-properties-h">{{app.appMetaData.description}}</p>
                  </div>
              </div>
      </ion-content>
   </ion-modal-view>
</script>

   <div class="row single-app-footer">
     <div class="col"><a href="#" ng-click="openPage(app.appMetaData.downloadLink)" class="button button-positive button-block"><i class="icon ion-android-download"></i> Download app</a></div>
     <div class="col"><button class="button button-balanced button-block" ng-click="openModal()"><i class="icon ion-ios-information-outline"></i> More info </button></div>
   </div>

   
  </ion-content>
</ion-view>
