 /*Empty. Add your own CSS if you like */
.img-center {
        display: block;
    margin-left: auto;
    margin-right:auto;
}

.text-center {
    text-align:center;
}
a:hover, a:active {
    text-decoration: none !important;
}

.row {
    margin-left:0 !important;
    margin-right:0 !important;
}

/* ====== Single App styles ====== */

.howMany {
    text-align: center;
    background-color:#333333;
    border-style: inset;
    color:white;
}
.single-app-header {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.single-app-body {
    border-bottom: 1px solid #e8e8e8;
}

.single-app-properties {
        margin-top: 5px;
}

.single-app-header p {
    margin-bottom:0 !important;
}
.single-app-img {
    width:100%;
}

.single-app-body .app-section {
    margin:15px;
}
.app-section p {
    margin-bottom:2px;
}

.single-app-body h5 {
    margin:15px;
    font-size:16px;
    color: #333333;
}
.app-properties-m, .single-app-subtitle {
    text-transform:uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
}

.app-properties {
    color: #2c8aff;
    font-weight: 700;
    text-transform: uppercase;
}

.app-rating {
    padding:4px;
    border-radius:6px;
    background-color:#f3f3f3;
}

.rt-good {
    color:#33cd5f  !important;
}
.rt-bad {
    color:#ff3737 !important;
}


/* ====== /Single App styles ====== */


/* ====== Home ====== */

.welcome-header {
    text-align:center;
}

.welcome-header p {
    padding:0px 10px;
}


.apps-home-container {
    width: 140px;
    height: 250px;
    vertical-align: middle;
}

.home-card {
    width: 90%;
    height: 80%;
    float: left;
}

.home-item {
    position: relative;
    height: 100%;
}



.home-app-rating {
color: orange;
}

.home-app-title {
    white-space: normal;
    margin-top:10px !important;
}

.scrollbar-container {
    background-color: #f7f7f7;
    margin-top:25px !important;
}

.home-scrollbar {
    height:235px;
    overflow-y: hidden;
      margin-top:-8%;
      white-space: nowrap;
}

.home-app-more {
    text-align:right;
}


/* ====== /Home ====== */

/* ======  Apps list styles ====== */
.rating-stars {
color:orange; font-size:18px;
}
/* ====== /Apps list styles ====== */


/* ======  Modal ====== */
.more-info-properties {
text-transform: uppercase;
color: #2c8aff;
font-weight:700;
}

.card-header-custom {
        padding-left: 45px !important;
}
.card-header-custom i {
        font-size: 28px;
}
.button-header-custom {
    background:transparent;
    border:none;
    color: #ffffff;
    line-height: 0;
}



/* ======  /Apps list styles ====== */

/* ======  About ====== */


.about-img {
    margin-left: auto;
    margin-right: auto;
}

.h3-about {
    white-space: normal !important;
    font-weight:400;
    font-size:15px !important;
}
.h3-about span {
    font-weight:700 !important;
}

.no-margin-top {
    margin-top:0;
}

/* ======  /About ====== */


.custom-row
{
  display: block;
  padding: 2px;
  margin: 10px 0px 10px;
  width: 100%;
  height:100%;

}
.card i
{
  color:black;
  padding-top: 5px;
  padding-bottom:5px;
  font-size: 14px;
}
.clearfixc:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfixc { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfixc { height: 1%; }
.clearfixc { display: block; }
/* close commented backslash hack */
i
{
  font-size:15px;
}
a
{
  text-decoration: none;
}


/* hr line*/

@-webkit-keyframes go{
  0%{background-position:0;}
  100%{background-position:200px 0;}

}
@-moz-keyframes go{
  0%{background-position:0;}
  50%{background-position:100px 0;}
  100%{background-position:200px 0;}

}
@-o-keyframes go{
  0%{background-position:0;}
  100%{background-position:200px 0;}

}
@-ms-keyframes go{
  0%{background-position:0;}
  100%{background-position:200px 0;}

}
@keyframes go{
  0%{background-position:0;}
  100%{background-position:200px 0;}

}